In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("agaricus-lepiota.data.txt")
dataset.head()

   p  x  s  n  t p.1  f  c n.1  k ... s.2  w w.1 p.2 w.2  o p.3 k.1 s.3  u
0  e  x  s  y  t   a  f  c   b  k ...   s  w   w   p   w  o   p   n   n  g
1  e  b  s  w  t   l  f  c   b  n ...   s  w   w   p   w  o   p   n   n  m
2  p  x  y  w  t   p  f  c   n  n ...   s  w   w   p   w  o   p   k   s  u
3  e  x  s  g  f   n  f  w   b  k ...   s  w   w   p   w  o   e   n   a  g
4  e  x  y  y  t   a  f  c   b  n ...   s  w   w   p   w  o   p   k   n  g

[5 rows x 23 columns]

In [3]:
dataset.shape

(8123, 23)

Let's use the kaggle one because it already has the column headers

In [8]:
dataset_kaggle=pd.read_csv("mushrooms.csv")
dataset_kaggle.head()

,class,cap-shape,cap-surface,cap-color,bruises,odor,gill-attachment,gill-spacing,gill-size,gill-color,...,stalk-surface-below-ring,stalk-color-above-ring,stalk-color-below-ring,veil-type,veil-color,ring-number,ring-type,spore-print-color,population,habitat
0,p,x,s,n,t,p,f,c,n,k,...,s,w,w,p,w,o,p,k,s,u
1,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
2,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
3,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
4,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g

In [9]:
# Checking if the kaggle dataset is exactly the same one as the UCI dataset 
(dataset_kaggle == dataset).count().sum() == dataset.count().sum()

True

In [11]:
dataset_n = dataset.replace('?', np.NaN)
dataset_n.isna().sum()

class                          0
cap-shape                      0
cap-surface                    0
cap-color                      0
bruises                        0
odor                           0
gill-attachment                0
gill-spacing                   0
gill-size                      0
gill-color                     0
stalk-shape                    0
stalk-root                  2480
stalk-surface-above-ring       0
stalk-surface-below-ring       0
stalk-color-above-ring         0
stalk-color-below-ring         0
veil-type                      0
veil-color                     0
ring-number                    0
ring-type                      0
spore-print-color              0
population                     0
habitat                        0
dtype: int64

FROM UCI stalk-root:               bulbous=b,club=c,cup=u,equal=e,
                                  rhizomorphs=z,rooted=r,missing=?

In [21]:
dataset_n_p = dataset_n[dataset_n["class"] == "p"]
dataset_n_e = dataset_n[dataset_n["class"] == "e"]

In [22]:
dataset_n["stalk-root"].value_counts()

b    3776
e    1120
c     556
r     192
Name: stalk-root, dtype: int64

In [23]:
dataset_n_p["stalk-root"].value_counts()

b    1856
e     256
c      44
Name: stalk-root, dtype: int64

In [24]:
dataset_n_e["stalk-root"].value_counts()

b    1920
e     864
c     512
r     192
Name: stalk-root, dtype: int64

Based on this split, we'll move forward without `stalk-root` for now, because the "b" type has the same proportion for poisonous and non-poisonous mushrooms. The "r" type is very small in comparison to the overall sample size (about 2.3%) therefore we are excluding the `stalk-root` from the feature selection.

In [30]:
round(dataset_n_p["stalk-root"].value_counts()["b"]/dataset_n["stalk-root"].value_counts()["b"]*100,2)

49.15

In [31]:
round(dataset_n_p["stalk-root"].value_counts()["e"]/dataset_n["stalk-root"].value_counts()["e"]*100,2)

22.86

In [32]:
round(dataset_n_p["stalk-root"].value_counts()["c"]/dataset_n["stalk-root"].value_counts()["c"]*100,2)

7.91

## TODO: Figure out how to impute these missing values instead of removing the column